

body {
  margin:0px;
  padding:0px;
  font-family: "Press Start 2P";
}

h1 {
  text-align:center;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  border:1px solid black;
  display: flex;
  /*position: absolute;
  z-index: 0;*/
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  z-index: 4;
}

span {
  padding: 40px;
}